::-webkit-scrollbar {
    width: 10px; /* 設定滑軌寬度 */
    background-color: #f5f5f5; /* 設定滑軌背景顏色 */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* 設定滑塊顏色 */
    border-radius: 5px; /* 設定滑塊圓角 */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 設定滑塊懸停時的顏色 */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #eee; /* 設定軌道顏色 */
  }