::-webkit-scrollbar {
  width: 1em;
  background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 200, 255, 0.103);
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em rgba(129, 212, 250, 0.082);
  transition: box-shadow 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  animation: pulse 2s infinite ease-in-out; 
}

::-webkit-scrollbar-track {
  background-color: #333;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0.8em rgba(129, 212, 250, 0.3), inset 0 0 0.3em rgba(129, 212, 250, 0.2);
  }
  50% {
    box-shadow: 0 0 1.5em rgba(129, 212, 250, 0.7), inset 0 0 0.8em rgba(129, 212, 250, 0.4);
  }
  100% {
    box-shadow: 0 0 0.8em rgba(129, 212, 250, 0.3), inset 0 0 0.3em rgba(129, 212, 250, 0.2);
  }
}